<!DOCTYPE>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="create glitch art with your photos">
        <meta name="author" content="Azaan Barlas">
        <title> Glitch art | Examples</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">Glitch</span> Art Pictures</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="active.html">Glitch it</a></li>
                        <li class="current"><a href="examples.html">Examples</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="main">
            <div class="container">
                <article id="main-col">
                    <h1 class="page-title">Examples of Amazing Art</h1>
                    <ul id="examples">
                        <li>
                            <h3>Picture 1</h3>
                            <h3>Picture 2</h3>
                            <h3>Picture 3</h3>
                            <!-- put in pictures with examples in this section!!! do all filters you can fit-->
                        </li>
                    </ul>
                </article>
                <aside id="sidebar">
                    <div class="dark">
                        <h3>WHAT WE DO</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper lectus id dolor maximus, id ullamcorper ipsum varius. Praesent vulputate lectus at arcu malesuada placerat. Integer pharetra magna ac orci efficitur, vitae pellentesque est pellentesque. Sed pulvinar lacus eu ornare semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ultrices facilisis eros, non venenatis libero pellentesque ut. Maecenas venenatis rhoncus lacinia. </p>
                    </div>
                </aside>
            </div>
        </section>

        <footer>
            <p>Glitch images, copyright &copy; 2020</p>
        </footer>
    </body>
</html>