<!DOCTYPE>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="create glitch art with your photos">
        <meta name="author" content="Azaan Barlas">
        <title> Glitch art | Examples</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding" class="branding" data-text="Art Pictures">
                    <span class="highlight">Glitch</span> Art Pictures
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="active.html">Glitch it</a></li>
                        <li class="current"><a href="examples.html">Examples</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="main">
            <div class="container">
                <article id="main-col">
                    <h1>  </h1>
                    <h1 class="page-title">Examples of Amazing Art</h1>
                    <ul id="examples">
                        <table>
                            <tr>
                            <td>
                            <h3>Blur</h3>
                            <img src='static\blur_before.jpg' class="examples">
                            </td>
                            <td class="pushright">
                            <img src='static\blur_after.jpg' class="examples">
                            </td>
                            </tr>
                            <tr>
                            <td>
                            <h3>Grayscale</h3>
                            <img src='static\grayscale_before.jpg' class="examples">
                            </td>
                            <td class="pushright">
                            <img src='static\grayscale_after.jpg' class="examples">                            </td>
                            </tr>
                            <tr>
                            <td>
                            <h3>Inversion</h3>
                            <img src='static\inversion_before.jpg' class="examples">
                            </td>
                            <td class="pushright">
                            <img src='static\inversion_after.jpg' class="examples">                            </td>
                            </tr>
                            <tr>
                            <td>
                            <h3>Reflect</h3>
                            <img src='static\reflect_before.jpg' class="examples">
                            </td>
                            <td class="pushright">
                            <img src='static\reflect_after.jpg' class="examples">                            </td>
                            </tr>
                            <tr>
                            <td>
                            <h3>Recolor</h3>
                            <img src='static\recolor_before.jpg' class="examples">
                            </td>
                            </tr>
                            <tr>
                            <td>
                            <img src='static\recolor_after_eccv16.png' class="examples">
                            </td>
                            <td id="mimic">
                            <img src='static\recolor_after_siggraph17.png' class="examples">
                            </td>
                            </tr>
                            <tr>
                            <td>
                            <h3>Glitch</h3>
                            <img src='static\glitch_before.jpg'class="examples">
                            </td>
                            <td class="pushright">
                            <img src='static\glitch_after.gif' class="examples">                            </td>
                            </tr>
                        </table>
                    </ul>
                </article>
            </div>
        </section>

        <div class="authors">
            <table class="authors">
                <tr>
                <td><a href="https://github.com/richzhang/colorization">The code I used for Recolor </td>
                <td class="textright"><a href="https://github.com/richzhang/"> Author: Richard </a></td>
                </tr>
                <tr>
                <td><a href="https://github.com/TotallyNotChase/glitch-this">The code I used for Glitch </td>
                <td class="textright"><a href="https://github.com/TotallyNotChase/"> Author: Not Chase </a></td>
                <tr>
            </table>
        </div>

        <footer>
            <p>Glitch images, copyright &copy; 2020</p>
        </footer>
    </body>
</html>